@use '../abstract/variables' as x;
#navbar{ 
.hero{
    background: rgb(114, 114, 204);
    color: x.$sure-color;
    font-weight: 200;
    gap: 55%;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.cool ul li{
    list-style: none;
}
.cool ul li a {
    text-decoration:none;
    color: white;
    padding: 10px 20px;
    margin: 0 5px;
    font-weight: 500;
    border-radius: 10px;
    
}
.cool ul li a:hover{
     background:coral;

}

.cool ul{
    display: flex;
    padding-right: 0;
    font-size: 30px;
    font-weight:200;
}

.tools{
    height: 100vh;
    font-size: 30px;
    text-align: center;
    padding-top: 150px;
    background:url(../img/img4.png) no-repeat right/cover;
        
    .visit{
        font-size: 30px;
        background: rgb(0, 4, 255);
        color: rgb(255, 252, 252);
        padding: 10px;
        border-radius: 10px;
    }
    
    } 
    .span{
        background: coral;
        border-radius: 10px;
        color: white;
        
    }
    .span:hover{
    background: x.$primary-color;
    border-bottom:x.$primary-color;
    }
}

.bar{
    display: flex;
    background: #3333;
    gap: 60%;
    .van{
        display: flex;
        gap: 40%;
        font-size: 25px;
        list-style:none;
    }
}

.contact{
    font-size:14px;
    padding:10px 0;
    background: #d1bf9a;
    .our{
        display:flex;
        gap: 60%;
    }
    .links{
        display: flex;
        list-style:none;
        font-size:24px;
        gap: 35%;
    }
}
.tan{
    background: #cccc;
    font-size:25px;
    display: flex;
    gap: 55%;
    font-weight:bold;
    .book{
        display: flex;
        gap: 50%;
        list-style:none;
    }
}